version: 2
updates:
  - package-ecosystem: docker
    directory: /.devcontainer/dockerfiles
    schedule:
      interval: weekly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
